.display-inline-ksth{
    display: inline;
}

.flex-ksth {
    display: flex;
}

.justify-evenly-ksth {
    justify-content: space-evenly;
}

.text-white-ksth {
    color: white;
}

.items-center-ksth {
    align-items: center;
}

.submit-button-ksth {
    background-color: #cc3c3c;
    color: white;
    padding: 10px 15px 10px 15px;
    border: 1px solid #aa5454;
    border-radius: 5px;
}

.input-ksth {
    border: 1px solid #1b6ab3;
    border-radius: 5px;
    padding: 10px 15px 10px 15px !important;
    margin: 0px 15px;
}

.py-5-ksth {
    padding: 50px 0px;
}

.py-5-ksth th {
    color: white !important;
}

.font-2xl-ksth {
    font-size: 2rem;
}

.ksth-width-full {
    width: 100%
}

.ksth-width-95 {
    width: 95%
}


